body {
  background-image: url("images/math.jpg");
  background-size: 59%;
}
.box {
  background-color: black;
  margin-left: 475px;
  height: 620px;
  width: 340px;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#result {
  height: 150px;
  width: 340px;
  border-radius: 0px;
}
#clear {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 80px;
  border-radius: 10%;
}
#plusOrMinus {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#modulus {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#divid {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#n7 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#n8 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
}
#n9 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#multiply {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#n4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#n5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#n6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#subtract {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#n1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#n2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#n3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#additon {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
  border-radius: 10%;
}
#n0 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  border-radius: 10%;
  width: 180px;
}
#dot {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
}
#equals {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  padding: 20px;
  width: 85px;
}
input {
  background-color: gainsboro;
}
#result {
  font-size: 45px;
  text-align: right;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
#first {
  display: flex;
  gap: 5px;
  padding: 5px;
}
#second {
  display: flex;
  gap: 5px;
  padding: 5px;
}
#third {
  display: flex;
  gap: 5px;
  padding: 5px;
}
#fourth {
  display: flex;
  gap: 5px;
  padding: 5px;
}
#fifth {
  display: flex;
  gap: 5px;
  padding: 5px;
}
.header {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.header1 {
  color: lightblue;
  font-weight: 700;
  font-family: cursive;
}
.header2 {
  color: orange;
  font-weight: 700;
  font-family: cursive;
}
.footer {
  background-color: #f8f8f8;
  padding: 5px;
  text-align: center;
  color: black;
}

.footer--name {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.footer--name:hover {
  text-decoration: underline;
}

.footer--copyright {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  color: #777;
}
